#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
          a(href='#')
            | Thingchain api docs
        |                 
        li
          a(href='/docs/intro.html') Introduction
        li
          a(href='/docs/manufacturer.html') Manufacturer
        li  
          a(href='/docs/exporter.html') Exporter
        li
          a(href='/docs/distributor.html') Distributor
        li
          a(href='/docs/retailer.html') Retailer
        li
          a(href='/docs/consumer.html') Consumer
        li  
          a(href='/docs/bank-grade-accounting.html') Bank-grade Inventory Accounting
        li  
          a(href='/docs/refs.html') Glossary
