extends ../layouts/default

block title
    title Thingchain API: Bank-grade Inventory Accounting
    
block content
    h2(style="text-align:center") Bank-grade Inventory Accounting: 
    h3(style='text-align:center') An application of Thingchain to non-commercial chains
    
    p   
        | Thingchain itself can be used to replace any tracking system which requires more efficiency, security, and reliability. One of the most striking
        | potential applications is to a malaria treatment workflow in Mozambique. The scenario is detailed below and covers the workflow and potential impact
        | Thingchain would cause if applied to such a system.
        
    h3 Understanding the Issue
    p   
        | Currently, the World Health Organization (WHO) manages thousands of community health workers
        | in various developing countries, including Mozambique. One of the most commonly treated diseases is malaria, which is best treated through Artemisinin Combination Therapies (ACT).
        | WHO obtains its supply of ACT through an external donor, who requires detailed reports on the consumption of ACT in order for WHO to continue receiving a
        | supply of the drug.
    p
        | The current method of obtaining data for these reports is for WHO to send paper forms to community health workers for documentation. However, these forms often
        | are lost, incomplete, or inaccurate throughout their return process to WHO. Thus, WHO is unable to send ACT consumption reports to the external donor which accurately show
        | the undersupply of ACT for these communities. Instead, the external donor is inclined to supply less ACT because the existing reports demonstrate a false
        | underconsumption.
        
    h3 The Solution: What's needed
    p   
        | WHO needs an inexpensive, convenient and reliable way for health workers to report the consumption of ACT treatments.
        
    h3 Proposed Solution:
    p   
        | Assuming that each health worker has access to a smartphone with Skuchain's application installed, each health worker will be issued their own popcode, which will manifest itself in a 
        | smartphone-readable QR code. This QR code, unique to each health worker, will aid in the bank-grade accounting of each ACT consumed.
        
    h3 Proposed Solution Overview:
    p
        ol
            li The community health center in Mozambique uses the Skuchain powered app to Mint value based on the quantity of ACT treatments received.
            li They then distribute this value to each of their health workers in the amount of ACT treatments given to them. 
            li This value is added to the health workers unique Popcode (Proof-of-Provenance) code.
            li Each  health worker scans their unique/personal Popcode every time they dispense an ACT treatment and associates this action with the Patient’s data.
        | This produces various benefits such as: Real time reporting, bank grade accounting, per-patient tracking etc.
    
    h3 Benefits
    p
        | The use of Thingchain and each worker's popcode (digital address) as an account where value is added or subtracted whenver ACT treatment
        | is dispensed allows for several benefits:
    ul
        li Real time and Summary Reports
        li Bank-grade Accounting (security of blockchain cryptography)
        li Per-patient tracking
        li Health care worker productivity measures
        li Donor access to 1-1 insight into each patient's case
    p
        | With all the forms replaced by real-time, case-by-case digital information (stored as transactions on Thingchain) entries, all the parties in need of the
        | ACT consumption data are satisfied. An added benefit of Thingchain is that Skuchain can tailor each actor's (in the chain) user interface to their specific 
        | desires while guarenteeing that every piece of information is genuine and un-tampered with and always up-to-date.
        
    h3 Conclusion
    p
        | As demonstrated above, the benefits and impact of such a Thingchain application are more than visible. The possibilities for further elimination of logistical 
        | issues in other type of workflows are enormous, and hopefully, the door to these possibilities will open with the ideas of developers, just like you.