extends ../layouts/default

block title
    title Thingchain API: Exporter
    
block content
    h2(style="color: green; text-align:center") 2. Exporter
    p
        | Alice, who works at the exporter New Zealand Co., receives the notification that Sunny Bear Farms has shipped the batch of 
        | 100k jars of honey on her mobile phone. She taps on the application notification on her smartphone. The app opens to display 
        | the order number and details (which was stored in the metadata of the initial transaction).
    p
        | She taps on "Smartbond information" to check the status of the funds claimed. Alice can see that $400,000 has been claimed already
        | by the farm and will be held in the SellSig for the next 24 hours (during which Alice will receive the shipment to verify authenticity
        | of the product). 
    p
        | Within the next few hours, the shipment of 200 boxes arrives at New Zealand Co's Warehouse. Alice finds the QR code of the private
        | key, which was sent with the shipment and taps on "Possess Shipment" in her app, which brings
        | her to a scanning screen. After scanning the code, app send the key to the Thingchain server, along with her own identity address
        | (which are registered under New Zealand Co.) through the command "/popcode/possess".
    p   
        | With the authorization of the private key, Thingchain adds New Zealand Co.'s name to the chain of custody with a transaction. Alice's identity
        | address sends the value of the shipment's popcode to her own identity address (registed under New Zealand Co. in the Skuchain server), thus ensuring that the receipients cannot duplicate and take possession
        | of the boxes until they recieve the private key.
    p
        | Once she finishes taking possession of the boxes, Alice returns to the home screen of the Tracer app. Using the shipment serial number, she searches in the app
        | and finds the batch information. She can see all of the batch information, in addition to where the shipment will head to next. In this case, all 200 boxes will 
        | be headed to the Distributor China House, Inc., so Alice does not have to mint new codes for unitization.
    p
        | The boxes are ready to be shipped off in a few days. Alice releases the popcode for the batch by going to the "Release Shipment" portion of the app.
        | She taps on the current batch under her custody, and Tracer sends the command "/popcode/release" to the Thingchain server. Alice's identity sends the value back into the shipment 
        | popcode so that the distributor can take possession.
    p
        | When the boxes are shipped off to China House, Alice taps on the "Smartbond Check" on her Tracer app screen. Alice can see the two active Smartbonds for that particular batch:
    ol
        li(style="color:red") Sunny Bear Farms: -$400,000
        li(style="color:green") China House, Inc.: +$500,000
    p
        | She taps "Claim funds" for the particular batch under the second Smartbond, and Tracer contacts the Skuchain server to move the $500,000 from China House's BuySig to
        | the SellSig. New Zealand Co. and China House Inc. agreed that the time for funds to be held would be 12 to 15 days, as that is approximately the shipment
        | processing time from New Zealand to China. Tracer confirms that the funds have been moved to the SellSig.
        
    p   
        | The chain of custody now moves to the 
        a(href='/docs/distributor.html') distributor.
