extends ../layouts/default


block title
    title Thingchain API: Introduction
    
block content
    h1(style="text-align:center") Applying Thingchain: a scenario 
    h2(style="text-align: center") Reducing friction in supply chains
    h3 Introduction
    p
        | Skuchain's innovative products, Thingchain and Smartbonds, may be used for a variety of applications. 
        | The following guide and narrative will illustrate a practical application of Thingchain and Smartbond technology to a typical
        | supply chain model:
    ol
        li(style="color: blue")
            a(href='/docs/manufacturer.html') Manufacturer
        li(style="color: green")
             a(href='/docs/exporter.html') Exporter
        li(style="color: green")
             a(href='/docs/distributor.html') Distributor
        li(style="color: purple")
             a(href='/docs/retailer.html') Retailer    
        li(style="color: orange")
             a(href='/docs/consumer.html') Consumer
     p
        | The narrative best serves its purpose as an example of application when the reader has already familiarized him/herself with the  
        a(href='https://thingchain.com/doc') Thingchain API introduction 
        | and the basic concepts of the 
        a(href='http://radar.oreilly.com/2015/01/understanding-the-blockchain.html') Blockchain. 
        | The definition of a Smartbond can be found in the glossary, listed below.
    p
        | In addition to the narrative, there will be four prototype application user-interfaces shown: Manufacturer, Exporter/Distributor, Retailer and Consumer. 
        | The prototypes are interactive, allowing readers to explore these visualizations to accelerate their understanding of the role a mobile application will play in utilizing 
        | Skuchain's technology. Examples of API command uses are also throughout the narrative.
    p
        | Following the narrative, readers can explore how Thingchain itself provides more 
        a(href='/docs/bank-grade-accounting.html') benefits 
        | to other real-world applications.
    h3 
        a(href='/docs/refs.html') Glossary of terms
