extends ../layouts/default

block title
    title Thingchain API: Retailer
    
block content
    h2(style="color: purple; text-align:center") 4. Retailer
    p
        | Carly, Joe, and Alex each work for Walmart, Lotte Mart, and Tesco in China, respectively. Each retailer receives the shipments of honey from China House, Inc. 
        | within a few days. They all follow the same procedure of taking posession of the popcode with their Tracer apps.
        
    p
        | Retailers are the final actor in the chain who are officially recorded on Thingchain. After the three workers complete the transaction of 
        | custody for the shipment, it is up to the individual retail store to set their pricing, run inventory checks, etc. They will not be further
        | involved in Skuchain's products other than acting as the seller in the Smartbonds between the distributor and the last recorded custodian of 
        | the goods. Now, all that is left is for the 
        a(href='/docs/consumer.html') consumer 
        | to purchase the goods.
